<!-- Display register -->
<section>
  <ion-content scrollbar-y="false" ng-if="myData.username" style="margin-bottom:50px">
      <div class="list list-inset">
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="John">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Suhr">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="john@suhr.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Phone</span>
          <input type="number" placeholder="012345678">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Address</span>
          <input type="text" placeholder="280 Bui Huu Nghia">
        </label>
        <button class="button button-block button-balanced">
          Register
        </button>
      </div>
  </div>
  </ion-content>
</section>
